*{
    padding: 0px;
    margin: 0px;
}

#root{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
#top > .options{
    display: flex;
    background-color: white;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    padding: 4px 20px;
    box-shadow: 2px 2px #e1e1e1;
    z-index: 100px;
    border: none;
}
.btn:hover , .active{
    background-color: #aaaab5 !important;
    border-radius: 4PX;
}
#top{
    position: absolute;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.btn{
    background-color: white;
    padding: 4px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18PX;
    z-index: 100px;
}
#bottom{
    position: absolute;
    left: 30px;
    bottom: 30px;
}
#bottom>.options>button{
    background-color: white;
    border: none;
    font-size: 18PX;
}
#bottom>.options>button:hover {
    background-color: #ececf3;
    border-radius: 4PX;
    padding: 4px 4px;
    border: 2px solid red;
}
#bottom>.options{
    margin: 10px;

}

.form {
    position: fixed;
    left: 10px;
    top: 30vh ;
    border: 1px solid #ededed;
    padding: 20px; 
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.hide{
    display: none;
}