*{
    padding: 0px;
    margin: 0px;
}
#dropdown{
    margin: 10px;
    border: 1px solid grey;
    width: fit-content;
    padding-inline: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}
#dropdown:hover{
    background-color: #D3D3D3;
}
.menu{
    width: 600px;
    height: 45px;
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,.2);
    border-radius: 10px;
    margin-top: 10px;
}
#navbar{
    display: flex;
    justify-content: space-between;
}
.profile{
    width: fit-content;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
}
.library{
    width: fit-content;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    display: flex;
}
.library > i{
    margin-right: 10px;
}
.options{
    width: fit-content;
    margin: 15px;

}
.menu{
    display: flex;
}
.menu > i:hover{
    background-color: #D3D3D3;
    cursor: pointer;
}